@font-face {
  font-family: 'MarkPro-Book';
  src: url('./../assets/fonts/mark-pro-book-webfont.woff2') format('woff2'),
       url('./../assets/fonts/mark-pro-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}