@import './../../common/styles/breakpoints';

.auth-form {
  width: 33rem;

  &__input {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__action-button {
    margin-top: 50px;
  }

  @include is-mobile {
    width: 100%;
    min-width: 200px;
  }
}