$primary-color: #4a77e5;
$secondary-color: #fff;

$default-font-color: #1f2a4b;
$placeholder-font-color: #9ea3b2;
$subtitle-font-color: #a1a4ad;

$input-border-color: #e1e1e1;

$viewport-background: #f6f7f8;
$page-background: #fff;

$page-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);

$default-font: 'MarkPro-Book', Arial, Helvetica, sans-serif, system-ui;