$primary-color: #1f2a4b;
$secondary-color: #fff;

$default-font-color: #1f2a4b;
$placeholder-font-color: #9ea3b2;
$subtitle-font-color: #a1a4ad;

$input-border-color: #e1e1e1;

$viewport-background: #f6f7f8;
$page-background: #fff;